.second-header {
  background-color: yellowgreen;
  text-align: center;
  font-size: 30px;
  margin: 0px;
}

.sub-title {
  text-align: center;
  font-size: 30px;
  margin: 0px;
}

.mini-title {
  margin: 5px 15px;
  text-align: center;
}

.info {
  background-color: lightgreen;
}

.list {
  list-style: none;
  margin: 15px;
}

.food-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-image {
  width: 250px;
  height: 250px;
}

.food-name-content {
  text-align: center;
  font-size: 23px;
  border-bottom: 2px solid lightskyblue;
}

.food-protein-content {
  text-align: right;
}

.food-fat-content {
  text-align: right;
}

.food-carbo-content {
  text-align: right;
}

.food-kcal-content {
  text-align: right;
}

footer {
  text-align: right;
}